@font-face {
    font-family: 'Noto Mono';
    src: url('NotoMono-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    font-family: 'Noto Mono';
}

* {
  box-sizing: border-box;
}

button {
    font-weight: 600;
    border: solid 1px #ababab;
    border-radius: 3px;
    background: aliceblue;
    padding: 5px;
    margin: 2px;
}

.wrapper {
    position: relative;
    height: 100%;
}

.scrollable {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: auto;
}

body > div {
	height: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
}

#history > div {
    font-size: small;
    border: solid 2px #fad7ff;
    border-radius: 10px;
    background: #fff4fe;
    padding: 5px;
}

.toolbar {
    grid-column: 3 / 3;
}

.main {
    grid-column: 1 / 3;
    max-height: 100vh;
}

body > div > div {
    margin: 10px;
}

#content {
    /* border: solid 1px black; */
    border-radius: 5px;
    font-family: 'Noto Mono';
    background: #f3fff5;

    border: solid 2px #fad7ff;
}

#content > * {
    padding: 10px;
}

button.selected {
    background: #ffc1c1
}

.title {
    font-size: larger;
    padding-right: 10px;
}

.label {
    background: #e3ffe2;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    color: black;
    line-height: 22px
}

@media (prefers-color-scheme: dark) {
    html {
        background: #1f1f1f;
        color: #bababa;
    }

    #content {
        background: #343434;
        border: solid 2px #4f4f4f
    }

    button {
        background: #505050;
        border: solid 1px #616161;
        color: silver;
        font-weight: 500;
    }

    button.selected {
        background: #4e3566
    }

    #history > div {
        background: #343434;
        border: solid 2px #4f4f4f
    }

    .label {
        color: #bababa;
        background: #23571d
    }
}
